{% extends "base.html" %}
{% block content %}

<h2 class="center-align callout">More About Us</h2>

<div class="center-align container about-card">
<p class="center-align about-content">We are a community lead review website that strive to share movies you may not have heard of or may not have seen.<br>
All of our content can be viewed whether or not you have an account but we encourage everyone to sign up and share your own reviews with our other users.<br>
Once you have registered you can explore search through our library and see if anyone else has reviewed your movie and then you can use our simple template to write your own review.<br>
It's that easy!</p>
<a href="{{url_for('register')}}" class="btn-large red darken-3 waves-effect">Join Our Community! <i class="fas fa-hands-helping"></i></a>
</div>

{% endblock %}