{% extends "base.html" %}
{% block content %}

<div class="container review-container">
        <h2 class="white-text center-align">Write A New Review</h2>
    <div class="container">
        <div class="row orange darken-4">
            <form class="col s12" method="POST" action="">
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-film prefix white-text"></i>
                        <input id="title" type="text" class="validate">
                        <label for="title">Movie Title</label>
                    </div>
                    <div class="input-field col s12">
                        <i class="fas fa-user-plus prefix white-text"></i>
                        <input id="director" type="text" class="validate">
                        <label for="director">Director</label>
                    </div>
                    <div class="input-field col s12">
                        <i class="fas fa-user-edit prefix white-text"></i>
                        <textarea id="description" class="materialize-textaread"></textarea>
                        <label for="description">Film Description</label>
                    </div>
                    <div class="input-field col s12">
                        <i class="fas fa-star prefix white-text"></i>
                        <input id="rating" type="number" min="1" max="5" class="validate">
                        <label for="rating">Rating (1-5)</label>
                    </div>
                    <div class="input-field col s12">
                        <i class="fas fa-calendar prefix white-text"></i>
                        <input id="year" type="number" min="1902" max="2021" class="validate">
                        <label for="year">Release Year</label>
                    </div>
                    <div class="col s12 center-align">
                        <button type="submit" class="btn-large grey orange-text darken-2 waves-effect">
                            Submit <i class="fas fa-pen-fancy prefix orange-text"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}