{% extends "base.html" %}
{% block content %}

<div class="container review-container">
        <h2 class="white-text center-align">Write A New Review</h2>
    <div class="container">
        <div class="row red darken-4">
            <form class="col s12" method="POST" action="{{ url_for('add_review')}}">
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-film prefix white-text"></i>
                        <input id="movie_title" name="movie_title" type="text" class="validate white-text">
                        <label for="movie_title">Movie Title</label>
                    </div>
                    <div class="input-field col s12">
                        <i class="fas fa-user-plus prefix white-text"></i>
                        <input id="director" name="director" type="text" class="validate white-text">
                        <label for="director">Director</label>
                    </div>
                    <div class="input-field col s12">
                        <i class="fas fa-calendar prefix white-text"></i>
                        <input id="release_year" name="release_year" type="number" min="1902" max="2021" class="validate white-text">
                        <label for="release_year">Release Year</label>
                    </div>
                    <div class="input-field col s12">
                        <i class="fas fa-user-edit prefix white-text"></i>
                        <textarea id="description" name="description" class="materialize-textaread validate white-text" minlength="10" maxlength="500"></textarea>
                        <label for="description">Film Description</label>
                    </div>
                    <div class="input-field col s12">
                        <i class="fas fa-star prefix white-text"></i>
                        <input id="rating" name="rating" type="number" min="1" max="5" class="validate white-text">
                        <label for="rating">Rating (1-5)</label>
                    </div>
                    <div class="col s12 center-align">
                        <button type="submit" class="btn-large grey white-text waves-effect">
                            Post <i class="fas fa-pen-fancy prefix whit-text darken-4"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}