{% extends "base.html" %}
{% block content %}



<div class="callout-container">
    <div class="opaque-overlay">
        <h2 class="center-align callout">Welcome to Projected Reviews</h2>
        <h3 class="center-align callout-subheading">Discover a new world of cinema</h3>
    </div>
</div>
<div class="container">
    <div class="row center-align">
        {% for movie in movies %}
        <div class="col s12 m6 l4">
            <div class="card movie-card">
                <h4 class="white-text">{{ movie.movie_title }}</h4>
                <p class="white-text">{{ movie.director }}</p>
                <p class="white-text">{{ movie.release_year }}</p>
                <p class="white-text">{{ movie.description }}</p>
                <p class="white-text"><i class="fas fa-star yellow-text"></i>{{ movie.rating }}</p> 
                <p class="white-text"><em>written by: {{ movie.user_submitted }} {{ movie.date_submitted }}</em></p>
                {% if session.user|lower == movie.user_submitted|lower %}
                <a href="{{ url_for('edit_review', movie_id=movie._id)}}" class="btn-small grey darken-3 waves-effect">Edit</a>
                <a  class="btn-small red darken-3 waves-effect modal-trigger" href="#confirm_modal">Delete</a>
                {% endif %}  
                <!-- Modal not working -->
                <div id="confirm_modal" class="modal">
                    <div class="modal-content">
                    <h4>Delete</h4>
                    <p>Are you sure you want to delete your review?</p>
                    </div>
                    <div class="modal-footer">
                    <a href="{{ url_for('delete_review', movie_id=movie._id)}}" class="modal-action modal-close green darken-3 waves-effect waves-green btn-small">Yes</a>
                    <a href="{{ url_for('movie_index')}}" class="red darken-3 waves-effect waves-red btn-small">Cancel</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}